# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# === Environment ===
.env
.venv/
env/
venv/
*.env

# === Jupyter Notebooks Checkpoints ===
.ipynb_checkpoints/

# === VSCode ===
.vscode/

# === Logs and temp ===
*.log
*.tmp
*.swp
*.bak


# === Test cache ===
.pytest_cache/
.tox/
.coverage
htmlcov/
coverage.xml

# === IDE files ===
.idea/
*.iml
*.code-workspace

# === Data ===
data/

# === Model ===
# models/
*.pth
*.pt
*.bin
*.safetensors
*.ckpt

# === Test ===
/_test.py

# === Config ===
!config/
!config/**/*.yaml
!config/**/*.yml
!config/**/*.json

